@font-face {
    font-family: minhaFonte;
    src: url('AGENCYR.TTF') format('truetype');
}

.text1 {
    font-family: "minhaFonte";
    font-size: 18px;
    color: #000;
    font-weight: normal;
    font-style: normal;
}

.text1branco {
    font-family: "minhaFonte";
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
.text1branco_link {
    font-family: "minhaFonte";
	font-size: 18px;
	color: #FFF;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.text1nome {
    font-family: "minhaFonte";
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-style: normal;
}

.text1nome_verde {
    font-family: "minhaFonte";
    font-size: 20px;
    color: #006437;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.text1nome_preto {
    font-family: "minhaFonte";
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.text1nome_verde_titulo {
    font-family: "minhaFonte";
    font-size: 24px;
    color: #006437;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.text18 {
    font-family: "minhaFonte";
    font-size: 18px;
    color: #000;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.text14 {
    font-family: "minhaFonte";
    font-size: 14px;
    color: #000;
    font-weight: bold;
    font-style: normal;
}

.text2 {
    font-family: "minhaFonte";
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    font-style: normal;
}

.text1negrito {
    font-family: "minhaFonte";
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
    font-style: normal;
}

.text1negritoX {
    font-family: "minhaFonte";
    font-size: 44px;
    color: #FFF;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.text1_negrito_verde {
    font-family: "minhaFonte";
    font-size: 24px;
    color: #006437;
    font-weight: bold;
    font-style: normal;
}

.text1_negrito_vermelho {
    font-family: "minhaFonte";
    font-size: 24px;
    color: #C40000;
    font-weight: bold;
    font-style: normal;
}

.container {
    font-family: "minhaFonte";
    position: relative;
    background-color: #000000;
}

#image {
    position: absolute;
}

#texto {
    font-family: "minhaFonte";
    position: absolute;
    font-size: 32px;
    left: 250px;
    top: 135px;
}

.container {
    font-family: "minhaFonte";
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

input {
    font-family: "minhaFonte";
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    font-family: "minhaFonte";
    font-size: 25px;
    background: rgb(255, 255, 255);
    color: #006437;
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;  
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

button:hover{
    font-family: "minhaFonte";
    font-size: 25px;
    background: rgb(2, 38, 22);
    color: rgb(34, 255, 0);
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;  
    font-weight: bold;
    margin: 0 auto;
}
recuperarsenha {
    font-family: "minhaFonte";
    font-size: 25px;
    background: rgb(255, 255, 255);
    color: #006437;
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;  
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

recuperarsenha:hover{
    font-family: "minhaFonte";
    font-size: 25px;
    background: rgb(2, 38, 22);
    color: rgb(34, 255, 0);
    width: 150px;
    padding: 8px;
    border: none;
    border-radius: 15px;  
    font-weight: bold;
    margin: 0 auto;
}

.loading {
    font-family: "minhaFonte";
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
}
.loading label {
    font-family: "minhaFonte";
    font-size: 24px;
}
.error {
    font-family: "minhaFonte";
    background: red;
    color: white;
    display: none;
}

.mensagem-sucesso {
            display: none;
            color: #006437;
            font-weight: bold;
        }